
Kuma/.vs/config/applicationhost.config
Kuma/BLL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Kuma/DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Kuma/WEB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
